  @media screen and (max-width: 1388px) {
    header {
        width: 95%;
        transition: .5s linear;
       
    }
    header .song_side .content {
        height: 18%; 
    }
    header .menu_side {
        width: 35%;
    }
    header .song_side {
        width: 65%;
    }
    header .song_side .popular_song { 
        margin-top: 40px;
    }
    header .menu_side h6{
        display: none;
    }
    
}
@media screen and (max-width: 930px) {
    header .menu_side {
        width: 48%;
        position: absolute;
        z-index: 999;
        transition: 1s linear;
        transform: translateX(-100%);
      
    }
    header .song_side {
        width: 100%;
    }
    header .play {
        position: absolute;
        bottom: 0;
    }
    header .menu_side h6 {
        position: absolute;
        right: -40px;
        bottom: 10px;
        width: 40px;
        height: 40px;
        background: #111727;
        border-radius: 0px 10px 10px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        cursor: pointer;
        transition: 1s linear;
        z-index: 9999999999999;
    }
    header .song_side .popular_song { 
        margin-top: 40px;
    }
    header .play #currentStart {
        margin: 0px 10px 0px -8px;
    }
    header .play .vol input {
        width: 95%;
    }
}
@media screen and (max-width: 660px){
    header {
        width: 95%;
        height: 97vh;
    }
    header .song_side nav ul li {
        font-size: 11px;
        margin-right: 10px;
    }
    header .song_side nav .search{
        width: auto;
    }
    header .menu_side {
        width: 60%;
    }
    header .play {
        z-index: 9999999999999999999999999999999999;
    }
    header .play .icon {
        position: absolute;
        top: -27px;
        right: 30%;
    }
    
    header .play .icon::before{
        content: '';
        position: absolute;
        width: 149px;
        height: 135px;
        background: #111727;
        z-index: -1;
        border-radius: 50% 50% 0% 0%;
        top: -48px;
        left: -4%;
        box-shadow: 0px -11px 20px -17px black;
    }
    header .play .wave {
        width: 40px;
        height: 57px;
        position: absolute;
        top: -90px;
        right: 41%;
    }
    header .play .wave .wave1 {
        width: 6px;
    }
    header .song_side .popular_song { 
        margin-top: 40px;
    }
    header .play img {
        display: none;
    }
    header .play h5 {
        display: none;
    }
    header .play .icon::before {
   
        width: 144px;
        height: 131px;
       
        left: -4%;
      
    }
    
}
@media  screen and ( max-width: 460px) {
    header .song_side nav .search {
        width: 150px;
        display: flex;
        margin-right: 5px;
    }
    header .play .wave {
        right: 44%;
    }
    header .menu_side {
        width: 70%;
    }
    header .song_side .popular_song { 
        margin-top: 40px;
    }
    header .play img {
        display: none;
    }
    header .play h5 {
        display: none;
    }
    header .play .icon::before {
   
        width: 144px;
        height: 131px;
       
        left: -4%;
      
    }
   
  
}
@media screen and (max-width: 412px) {
    header .song_side nav .search {
        width: 140px;
    }
    header .song_side nav ul li {
        font-size: 10px;
        margin-right: 7px;
    }
    header .play .wave {
        right: 48%;
    }
    header .menu_side {
        width: 80%;
    }
    header .play .icon::before {
   
        width: 144px;
        height: 131px;
       
        left: -4%;
      
    }
    header .play .bar input {
        margin: -13px -4px -20px -20px;
        width: 112%;
        
    }
    header .play span {
   
        width: 55px;
        font-size: 10px;
      
    }
    header .play .vol input {
        position: absolute;
        width: 89%;
        /* top: 5px; */
        top: -9px;
        left: 25px;
        cursor: pointer;
    }
    header .play img {
        display: none;
    }
    header .play h5 {
        display: none;
    }
    header .play span {
      
        width: 25px;
        font-size: 10px;
    }
}